{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Ajout d'une disponibilité{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}


{% block body %}
    <!-- Begin Page Content -->
    <div class="container">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ajouter une disponibilité</h6>
            </div>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}