{% extends 'admin/sbadmin2.html.twig' %}

{% block title %}Ajout d'un professionel{% endblock %}

{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Ajouter un professionel</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                {{ form(form) }}
            </div>                
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}

