{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Ajout d'un utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Ajouter un utilisateur</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                {{ form(form) }}
            </div>                
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}



{% block javascripts %}
    <script>
        window.onload = () => {
            // On va chercher la région
            let hospital = document.querySelector("#admin_user_patient_form_hospital");
            hospital.addEventListener("change", function(){
                let form = this.closest("form");
                //console.log(form);

                let data = this.name + "=" + this.value;
                
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
                    }
                })
                .then(response => response.text())
                .then(html => {
                    let content = document.createElement("html");
                    content.innerHTML = html;
                    let nouveauSelect = content.querySelector("#admin_user_patient_form_doctor");
                    console.log(nouveauSelect);
                    document.querySelector("#admin_user_patient_form_doctor").replaceWith(nouveauSelect);
                })
                .catch(error => {
                    console.log(error);
                })
            });
        }
    </script>
{% endblock %}
    