{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="almo-background-color-article">
        {# <div style="height: 15rem">
        </div> #}

        <div class="container"> 
            <p>{{ experiment.content | raw }}</p>
        </div>

        <div style="height: 15rem">
        </div>
    </div>


    
{% endblock %}

{% block javascripts %}
{% endblock %}