<h1>Bonjour, merci de bien vouloir confirmer votre email</h1>

<p>
    Merci de confirmer votre email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientot !
</p>
