{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

   

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">

        <div style="height: 10rem">
        </div>
        
        <div class="my-5">

                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <h1>Enregistrement</h1>

                {{ form(registrationForm) }}
                   
                
            </div>

      </div>
    </section><!-- End Appointment Section -->

{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            // On va chercher la région
            let hospital = document.querySelector("#registration_form_hospital");
            hospital.addEventListener("change", function(){
                let form = this.closest("form");
                // console.log(form);

                let data = this.name + "=" + this.value;
                
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
                    }
                })
                .then(response => response.text())
                .then(html => {
                    let content = document.createElement("html");
                    content.innerHTML = html;
                    let nouveauSelect = content.querySelector("#registration_form_doctor");
                    console.log(nouveauSelect);
                    document.querySelector("#registration_form_doctor").replaceWith(nouveauSelect);
                })
                .catch(error => {
                    console.log(error);
                })
            });
        }
    </script>
{% endblock %}