{% extends 'base.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="my-5">

                <h1>Ajout d'une catégorie</h1>
                {{ form(form) }}
                
            </div>
        </div>
    </section>
{% endblock %}