{% extends 'admin/sbadmin2.html.twig' %}

{% block title %}Modification d'une ressource{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Modification une ressource</h1>
        <p class="mb-4">Modification d'une ressources</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Modifier une ressource</h6>
            </div>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}