{% extends 'base.html.twig' %}

{% block title %}Ajout d'une disponibilité{% endblock %}

{% block body %}


    <!-- Begin Page Content -->
    <section id="services" class="services">
        <div class="container">

            <div style="height: 10rem">
            </div>

            <div>
                {{ form(form) }}
            </div>
        </div>

    </section>
    <!-- /.container-fluid -->
{% endblock %}