{% extends 'base.html.twig' %}

{% block title %}Ajout d'une disponibilité{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}

{% block body %}

    <div class="container">

        <div style="height: 10rem">
        </div>

        <!-- Begin Page Content -->
        <section id="services" class="services">
                    
            {{ form(form) }}
        </section>
            
    </div>
{% endblock %}