{% extends 'base.html.twig' %}

{% block title %}Envoyer une demande{% endblock %}

{% block body %}

    <div class="container">

        {# <div style="height: 15rem">
        </div> #}

        <div class="section-title">
            <h2>Contacter l’équipe</h2>
        </div>

        <div class="text-left almo-intro2">
            <p>Vous avez besoin d’aide ou voulez en
                savoir plus ?
                L’équipe en charge de l’expérimentation
                répond à toutes vos questions. N’hésitez
                pas à nous envoyer un message. Nous vous
                recontacterons directement dans les plus
                brefs délais. </p>
        </div>

        <!-- Begin Page Content -->
        <section id="services" class="services">
                    
            {{ form(form) }}
        </section>

        <div style="height: 15rem">
        </div>
            
    </div>
{% endblock %}