{% extends 'base.html.twig' %}

{% block title %}Envoyer une demande{% endblock %}

{% block body %}

    <div class="container">

         <div style="height: 15rem">
        </div>

        <div class="section-title">
            <h2>Envoyez nous un message pour toutes demandes</h2>
        </div>

        <!-- Begin Page Content -->
        <section id="services" class="services">
                    
            {{ form(form) }}
        </section>
            
    </div>
{% endblock %}