<div class="container">
    <div class="d-flex justify-content-center">
        <p class="almo-chatbot-p">Une question ? Notre robot, Petit Almo, vous répond ici</p>
    </div>       
    <div class="d-flex justify-content-center">
        <a class="nav-link almo-nav-link" href="#"><img src="{{ asset('almo/img/bot.png') }}" onclick="showHideChatBot()"/></a>
    </div> 
    
    <div id="chatbotShowHide" style="display: none">
        <!--Chatbot contents goes here -->
        <div class="border border-primary rounded border-3 chats" id="chats">
            <p class="almo-font"><img class="botAvatar" src="{{ asset('almo/img/bot.png') }}">Bonjour, je suis Almo, comment puis-je vous aider?</p><div class="clearfix"></div>
            <div class="clearfix"></div>
        </div>

        <!--user typing indicator -->
        <div>
            <input type="text" id="keypad" class="border border-secondary rounded border-3 usrInput browser-default" placeholder="Tapez votre message ici..." autocomplete="off">
        </div>
    </div>
</div>