<!-- ======= Header ======= -->
{# <header id="header" class="almo-fixed-top"> #}
<header id="header">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{{ path('home') }}"><img src="{{ asset('almo/img/logo_home.png') }}"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        {% include 'shared/_nav.html.twig' %}

    </div>


    {% if is_granted("ROLE_USER") %}
        {% include 'shared/_chatbot.html.twig' %}
    {% endif %}

    
 
</header><!-- End Header -->