<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{{ path('home') }}">Almo</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        {% include 'shared/_nav.html.twig' %}

    </div>

    {% block chatbot %}

        <div class="container">
            <button class="btn btn-lg btn-primary my-3" onclick="showHideChatBot()">Demander à Almo</button>
            {# <button class="btn btn-lg btn-primary my-3" type="submit">Connexion</button> #}
            
            <div id="chatbotShowHide">
                <!--Chatbot contents goes here -->
                <div class="border border-primary rounded border-3 chats" id="chats">
                    <img class="botAvatar" src="{{ asset('chatbot/img/botAvatar.png') }}">Bonjour, je suis Almo, comment puis-je vous aider?</p><div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div>

                <!--user typing indicator -->
                <div>
                    <input type="text" id="keypad" class="border border-secondary rounded border-3 usrInput browser-default" placeholder="Tapez votre message ici..." autocomplete="off">
                </div>
            </div>

        </div>

        <!--JavaScript at end of body for optimized loading-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('chatbot/js/materialize.min.js') }}"></script>
        <!--Main Script -->
        <script type="text/javascript" src="{{ asset('chatbot/js/script.js') }}"></script>
    {% endblock %}
</header><!-- End Header -->