body {
    font-family: "Arial", sans-serif;
    color: #000000;
    /* background: #FAE6D5; */
}

a {
    color: #224F9D;
    text-decoration: none;
}

a:hover {
    color: #38AAE0;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arial", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
}

#header {
    background: #FAE6D5;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 0px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
    top: 0;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Arial", sans-serif;
}

#header .logo a {
    color: #2c4964;
}

#header .logo img {
    max-height: 40px;
}

.almo-message-background {
    background-color: #b3aeae;
    border-radius: 24px;
}

.almo-fixed-top {
    position: fixed;
    background-color: #FAE6D5;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.almo-hr {
    height: 2px;
    margin: 5px;
    padding: 0;
    color: #28225B;
    background-color: #28225B;
    border: 0;
}

.almo-title-section {
    font-family: "Arial", sans-serif;
    color: #28225B;
    font-size: 18px;
    font-weight: bold;
}

.almo-rdv-datetime {
    font-family: "Arial", sans-serif;
    color: #28225B;
    font-size: 16px;
    font-weight: bold;
}

.almo-rdv-content {
    font-family: "Arial", sans-serif;
    color: #28225B;
    font-size: 16px;
}

.almo-rdv-content-italic {
    font-family: "Arial", sans-serif;
    color: #28225B;
    font-size: 16px;
    font-style: italic;
}

.almo-chatbot-p {
    font-family: "Arial", sans-serif;
    color: #224F9D;
    font-size: 12px;
    font-weight: bold;
}

.almo-font {
    font-family: "Arial", sans-serif;
    color: #224F9D;
}

.almo-intro1 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #224F9D;
}

.almo-image-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.almo-card-title {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #28225B;
}

.almo-card-border {
    border: 2px solid #224F9D;
    border-radius: 25px;
    /* padding: 10px; */
    /* margin: 20px; */
}

.almo-card-quick-access {
    text-align: center;
    color: #28225B;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #224F9D;
    border-radius: 25px;
    height: 200px;
}

.almo-card-quick-access:hover {
    background-color: #38AAE0;
}

.almo-card-title-experiment {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #FBE910;
}

.almo-card-p-experiment {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.almo-card-experiment {
    text-align: center;
    color: #28225B;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #224F9D;
    border-radius: 25px;
    height: 200px;
    background-color: #28225B;
}

.almo-card-experiment:hover {
    background-color: #38AAE0;
}

.almo-card-article {
    text-align: center;
    color: #28225B;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #224F9D;
    border-radius: 5px;
    height: 450px;
}

.almo-card-article:hover {
    background-color: #38AAE0;
}

.almo-intro2 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #224F9D;
}

.almo-login {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #224F9D;
}

.almo-login-input {
    border-color: #224F9D;
}

.almo-navbar {
    font-weight: bold;
    color: #224F9D;
}

.almo-nav-link {
    font-weight: bold;
    color: #224F9D;
}

.almo-nav-link:hover {
    font-weight: bold;
    color: #38AAE0;
}

.almo-background-color {
    background-color: #FAE6D5;
}

.almo-background-color-article {
    background-color: #ffffff;
}

.almo-color-white {
    color: #FFFFFF;
}

.almo-color-light-brown {
    color: #FAE6D5;
}

.almo-color-blue {
    color: #224F9D;
}

.almo-color-light-blue {
    color: #38AAE0;
}

.almo-color-dark-blue {
    color: #00075F;
}

.almo-color-purple {
    color: #28225B;
}

.almo-color-grey {
    color: #707070;
}

.almo-color-yellow {
    color: #FBE910;
}

.btn-primary {
    background-color: #38AAE0!important;
    border-radius: 24px!important;
    border-color: #38AAE0!important;
    font-size: 12px!important;
    margin: 2px!important;
    /* font-weight: bold!important; */
}

.btn-secondary {
    background-color: #28225B!important;
    border-radius: 24px!important;
    border-color: #28225B!important;
    font-size: 12px!important;
    margin: 2px!important;
    /* font-weight: bold!important; */
}

.btn-danger {
    border-radius: 24px!important;
    font-size: 12px!important;
    margin: 2px!important;
    /* font-weight: bold!important; */
}

.btn-success {
    border-radius: 24px!important;
    font-size: 12px!important;
    margin: 2px!important;
    /* font-weight: bold!important; */
}

.btn-info {
    background-color: #faf600!important;
    border-radius: 24px!important;
    border-color: #28225B!important;
    margin: 2px!important;
    font-family: 'Arial', sans-serif!important;
    font-size: 15px!important;
    font-weight: bold!important;
    color: #224F9D!important;
    border-width: 2px;
}