{% extends 'base.html.twig' %}

{% block title %}Ajouter un compte-rendu{% endblock %}

{% block body %}
    <div class="container">
    
        <div style="height: 10rem">
        </div>

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">

            <div class="section-title">
                <h2>Ajouter un compte-rendu</h2>
            </div>

            
            {{ form(form) }}
            

        </section><!-- End Services Section -->
    </div>
{% endblock %}