{% extends 'base.html.twig' %}

{% block title %}Mettre à jour un compte-rendu{% endblock %}

{% block body %}
    <div class="container">
    
        <div style="height: 10rem">
        </div>
        
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Mettre à jour un compte-rendu</h1>
            <p class="mb-4">Mettre à jour un compte-rendu</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Mettre à jour un compte-rendu</h6>
                </div>
                    <h1>Mettre à jour un compte-rendu</h1>
                    {{ form(form) }}
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock %}